<h2>Upcoming Events</h2>
<%  Event.upcoming.each do |event| %>
<%= event.name %></br>
<%= event.location %></br>
<%= event.date %></br>
created by <%= event.creator.name%>
<hr>
<% end %>
<h2>Past Events</h2>
<%  Event.past.each do |event| %>
<%= event.name %></br>
<%= event.location %></br>
<%= event.date %></br>
created by <%= event.creator.name%>
<hr>
<% end %>